body {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #000000;
	background-color: #858c7f;
}

.logo-locat {
	margin-top: 3%;
}

.logo-size {
	width: 150px;
	height: 120px;
}

.name {
	font-size: 350%;
}

.move-name {
	margin-top: 1.5%;
}

hr {
	border: 2px solid #707070;
}

.mainpic-size {
	width: 940px;
	height: 520px;
}

.text-muted {
	font-weight:300;
	color: #bcbbbb;
	font-size: 180%;
}

.text-thick {
	font-weight: 300;
}

.scale-pic {
	width: auto;
	height: auto;
	max-width: none;
}

.feature-title {
	margin: 2% auto 2% auto;
}

.bottom-margin {
	margin-bottom: 10%;
}

figcaption {
	font-weight: 400;
	font-size: 200%;
}

a.url-style {
	color: #000000;
}